<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sahil's Blog</title>
  </head>
  <body>
    <form action="/create" method="POST">
<<<<<<< HEAD
      <input type="text" name="title" placeholder="title"/>
=======
      <input type="text" name="title" placeholder="title" />
>>>>>>> df9e2815489fd0488e621d91f00746503c8cd5eb
      <br />
      <input type="text" name="body" />
      <button>Save</button>
    </form>
  </body>
</html>
