<%- include("header.ejs") %>
</nav>
<div class="container">
    <form action="/create" method="POST">
      <input type="text" name="title" placeholder="title" />
      <br />
      <input type="text" name="body" />
      <button>Save</button>
    </form>
  </body>
</html>
