<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sahil's blog</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">Sahil's Blog</div>
      <div class="create">
        <a href="/create"><button class="plus">Create</button></a>
      </div>
      <div class="blogs">
        <ul class="blogList">
          <% for(var i=0; i<list.length; i++) { %>
<<<<<<< HEAD
            <% if(list[i].deleted == false) { %>
            <li>
              <% var contents = fs.readFileSync("public/resources/blogs/" + list[i].id + '.json'); %>
             <% contents = JSON.parse(contents); %>
              <a href="/view?topic=<%= contents.id%>"><%= contents.title %></a>
              </li>
          <% } } %>
=======
            <li>
              <% var contents = fs.readFileSync("public/resources/blogs/" + list[i].id + '.json'); %>
             <% contents = JSON.parse(contents); %>
              <%= contents.title %>
              </li>
          <% } %>
>>>>>>> df9e2815489fd0488e621d91f00746503c8cd5eb
        </ul>
      </div>
    </div>
  </body>
</html>
