<%- include("header.ejs") %>
<a href="/create"><button id="create-btn">Create</button></a>
</nav>
<div class="container">
      <div class="create">
      </div>
      <div class="blogs">
        <ul class="blogList">
          <% for(var i=0; i<list.length; i++) { %>
            <% if(list[i].deleted == false) { %>
            <div class="blog-list-itm">
              <li>
                <% var contents = fs.readFileSync("public/resources/blogs/" + list[i].id + '.json'); %>
                <% contents = JSON.parse(contents); %>
                <a href="/view?topic=<%= contents.id%>"><%= contents.title %></a>
              </li>
            </div>
          <% } } %>
        </ul>
      </div>
    </div>
  </body>
</html>
