<%- include("header.ejs") %>
    <div class="container">
      <div class="header">Sahil's Blog</div>
      <div class="create">
        <a href="/create"><button class="plus">Create</button></a>
      </div>
      <div class="blogs">
        <ul class="blogList">
          <% for(var i=0; i<list.length; i++) { %>
            <% if(list[i].deleted == false) { %>
            <li>
              <% var contents = fs.readFileSync("public/resources/blogs/" + list[i].id + '.json'); %>
             <% contents = JSON.parse(contents); %>
              <a href="/view?topic=<%= contents.id%>"><%= contents.title %></a>
              </li>
          <% } } %>
        </ul>
      </div>
    </div>
  </body>
</html>
