body {
  background-color: whitesmoke;
}

.container {
  /* text-align: center; */
  background-color: aliceblue;
  width: 50%;
  margin: auto;
}

.header {
  margin-left: 45%;
}

#create-btn {
  margin-right: 1em;
}
